<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794106636335-dil9jshorlv3diokg4ntk2a2usvenk4o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794106636335-dil9jshorlv3diokg4ntk2a2usvenk4o</string>
	<key>API_KEY</key>
	<string>AIzaSyDve2tund6NcKndAngfxoEejV6p1HZ7sg8</string>
	<key>GCM_SENDER_ID</key>
	<string>794106636335</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.pocket</string>
	<key>PROJECT_ID</key>
	<string>training-flutter-bf068</string>
	<key>STORAGE_BUCKET</key>
	<string>training-flutter-bf068.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794106636335:ios:f467641876e72aa03abeda</string>
</dict>
</plist>